* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background: linear-gradient(180deg, #009688 10%, #DADBD4 10%);
    height: 100vh;
}

.container  {
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 2rem;
    background-color: salmon;
    height: 90vh;
    display: flex;
}

.side-bar-container {
    flex: calc((1/3)* 100%);
    background-color: lightcoral;
  
}


.user-info-container {
    padding: 0.5rem;
    background-color: lightskyblue;
    display: flex; 
    justify-content: space-between;
    align-items: center;
}

.name {
    display: flex;
    align-items: center;
}

.icons {
    color: grey;
}

.icons i {
    margin: 0 5px;
}
.icons i:hover {
    cursor: pointer;
    color: lightgrey;
}

.user-info-container img {
    width: 40px;
    border-radius: 5rem;
    margin-right: 5px;
}

.notifications-container {
    background-color: lightpink;
    height: 50px;
    background-color: lightblue;
    padding: 1rem;
    display: flex;
    align-items: center;
}


.noti-icon i {
background-color: white;
color: lightblue;
font-size: 1.2rem;
border-radius: 5rem;
padding: 8px;
margin-right: 5px;
}

.noti-text p {
font-weight: bold;
}

.noti-text a {
color: grey;
}

.search-container {
    background-color: white;
    height: 40px;
    color: gray;
    padding: 1rem;
}

.search-container i {
    margin: 0 1rem;
}

.contacts-container {
    overflow-y: scroll;
    flex: 1 0 0;
    height: calc(100% - 146px);
 
}

.contact {
    background-color: white;
    border: 1px solid black;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
}

.contact-info img {
    display: block;
    width: 40px;
    border-radius: 5rem;
    margin-right: 5px;
}

.contact-info {
    display: flex;
    align-items: center;
}

.contact-info p {
    font-size: smaller;
    color: grey;
}

.contact:hover {
    background-color: #E9EBEB;
    cursor: pointer;
}
.chat-container {
    width: 100%;
    flex:  calc((2/3)* 100%);
    background-image: url(../img/mine.jpg);
    display: flex;
    flex-direction: column;
}

.contact-chat-bar{
    background-color: white;
    padding: 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.chat {
    overflow-y: scroll;
    flex: 1 0 0;
    display: flex;
    flex-direction: column;
    padding: 10px;
}
.chat img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.write-bar  {
    background-color: white;
    padding: 1rem;
}

.write-bar i {
    padding: 0.5rem;
    margin: 0 1rem;
}
.contact-info{
    display: flex;
    align-items: center;
}
.contact-chat-bar img{
    width: 40px;
    border-radius: 5rem;
    margin-right: 5px;

}
.keyboard{
    padding: 10px;
    min-width: 643px;
}
.message {
    padding: 1rem;
    
    max-width:  40%;
    border-radius: 0.5rem;
}
.chat .sms-green{
    align-self: flex-end;
    background-color: rgb(135, 199, 135);
   
}
.chat .sms-white{
    background-color: white;
    align-self: flex-start;
    
}