<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boolzapp</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css"
    integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>

    <div id="app">
     
        
        <div class="container">
             <!-- inizio contenitore sx -->
            <div class="side-bar-container">
                <div class="user-info-container">
                    <div class="name">
                        <img src="img/avatar_io.jpg" alt="">
                        <span>Adelina <span class="color-red">&#10084;</span></span>
                    </div>
                    <div class="icons">
                        <i class="fa-solid fa-circle-notch"></i>
                        <i class="fa-solid fa-message"></i>
                        <i class="fa-solid fa-ellipsis-vertical"></i>
                    </div>
                </div>
                <div class="notifications-container">
                    <div class="noti-icon">
                        <i class="fa-solid fa-bell-slash"></i>
                    </div>
                    <div  class="noti-text">
                        <p>Ricevi notifiche di nuovi messaggi</p>
                        <a href="">Attiva notifiche destop</a>
                    </div>
    
                </div>

                <div class="search-container">
                    <i class="fa-solid fa-magnifying-glass"></i>
                    <input type="text"placeholder="Cerca o inizia una nuova chat" @keyup="searchContacts()" v-model="searchString">
                </div>

                <div class="contacts-container">

                    <div @click="activChat(index)" class="contact" v-for="(contact, index) in contacts" 
                    v-show="contact.visible == true" 
                    :class="index==activeIndex?'active':''">
                        <div class="contact-info">
                            <img :src="contact.avatar" :alt="contact.name">
                            <div class="contact-text">
                                <h4>{{contact.name}}&#128515;</h4>
                                <p v-if="contact.messages.length > 0">{{contact.messages[contact.messages.length - 1].message}}</p>
                            </div>
                        </div>
                        <div class="time">
                            <p v-if="contact.messages.length > 0">{{contact.messages[contact.messages.length - 1].date}}</p>
                            
                        </div>
                       
                    </div>
                    
    
                </div>
            </div>
            <!-- fine contenitore sx -->

            <!-- inizio contenitore dx -->
            <div class="chat-container">

                <div class="contact-chat-bar">
                    <div class="contact-info" >
                        <img :src="contacts[activeIndex].avatar" alt="">
                        <div class="contact-tex" >
                            <h4>{{contacts[activeIndex].name}}&#128515;</h4>
                            <p>Ultimo accesso oggi alle 12.00</p>
                            
                        </div>
                    </div>
                    <div class="icons">
                        <i class="fa-solid fa-magnifying-glass"></i>
                        <i class="fa-solid fa-paperclip"></i>
                        <i class="fa-solid fa-ellipsis-vertical"></i>
                    </div>
                </div>

                <div class="chat">
                    
                    <div class="message" :class="message.status=='sent'?'sms-green':'sms-white'"
                     v-for="(message, index) in contacts[activeIndex].messages" >
                        <p>{{message.message}}</p>
                        <div class="send-date">
                            <p>{{message.date}}</p>
                        </div>
                        <i class="fa-solid fa-chevron-down message-menu-toggler"></i>
                        <ul class="message-menu" >
                            <li>Message info</li>
                            <li @click="deletemessage(index)">Message delete</li>
                        </ul>
                        
                    </div>
                   
                </div>
                <div class="write-bar">
                    <i class="fa-regular fa-face-smile"></i>
                    <input type="text" placeholder="Scrivi un messaggio" class="keyboard" v-model="newMessage" @keyup.enter="addMessage">
                    <i class="fa-solid fa-microphone"></i>
                </div>
    
            </div>
            <!-- fine contenitore dx -->
        </div>
    
    
    </div>




    <script src="https://cdn.jsdelivr.net/npm/luxon@3.3.0/build/global/luxon.min.js"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script type="text/javascript" src="js/main.js"></script>
</body>
</html>